* {
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    padding: .1rem;
}

html {
    font-size: 62.5%;
}

embed {
    height: 28rem;
    width: 21rem;
    float: auto;
    border: black solid .2rem;
}

.logo {
    display: flexbox;
    width: 100%;
    height: 150%;
    border-radius: 2rem;
    margin: 2rem;
}

i2 {
    height: 28rem;
    width: 18rem;
    float: auto;
    border: black solid .2rem;
}

h4 {
    text-align: justify;
    font-size: 2rem;
}

p {
    text-align: justify;
}

h3 {
    text-align: center;
    font-size: 2.2rem;
}

header {
    padding: 0.5rem;
    width: 92%;
    height: 18rem;
    align-items: center;
}

.navbar {
    float: auto;
    font-size: 1.5rem;
    background-color: #333;
    height: 5%;
    width: 96%;
    text-align: center;
    position: fixed;
    border: rgb(18, 250, 250) 0.1rem solid;
    border-radius: 3rem;
    padding-top: 1rem;
    align-items: center;
}

a more {
    text-align: center;
    font-size: 4rem;
}

button {
    padding: 0 1rem;
    font-size: 2rem;
    background-color: #f2baba;
    border: #090808 0.2rem solid;
    border-radius: 0.5rem;
}

button:hover {
    font-size: 2.5rem;
    color: red;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    color: rgb(241, 233, 233);
    word-spacing: 1.5rem;
}

.navbar a:hover {
    color: rgb(250, 30, 30);
    font-size: 2rem;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 2.2rem;
}

section {
    min-height: 90%;
}

video {
    padding: 1rem;
}

section h5 {
    margin: 2rem;
}


.profile {
    max-width: 50%;
    border-radius: 2rem;
    border: rgb(10, 7, 7);
}

.Courses_img {
    height: 28rem;
    width: 21rem;
    float: auto;
    border: black solid .2rem;
}

footer {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    word-spacing: 2.2rem;
}

footer a {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: white;
}

footer a:hover {
    color: red;
    font-size: 1.4rem;
}

hr {
    width: 40rem;
    height: 0.01rem;
    background-color: rgb(27, 17, 17);
}

.name_txt {
    font-size: 3rem;
    text-align: center;
    font-weight: 90%;
    letter-spacing: 0.2rem;
    word-spacing: 1rem;
    font-family: 'Gill Sans';
}

.sm1 {
    background-color: rgb(190, 162, 162);
    padding: 0.8rem;
    border-radius: .8rem;
    text-decoration: none;
}

.sm2 {
    background-color: rgb(190, 162, 162);
    padding: 0.8rem;
    border-radius: .8rem;
    text-decoration: none;
}

.sm3 {
    background-color: rgb(190, 162, 162);
    padding: 0.8rem;
    border-radius: .8rem;
    text-decoration: none;
}

sm1.i,
sm2.i,
sm3.i {
    size: 1rem;
}

section h2 span {
    padding: 1.4rem;
    border-radius: 1.4rem;
    background: linear-gradient(to right, #f5d837, #bbb812)
}

section h3 span {
    padding: 1rem;
    border-radius: 4rem;
    text-decoration: none;
    background: linear-gradient(to right, #f5d837, #bbb812)
}
@media (max-width: 1200px) {
    html {
        font-size: 95%;
    }
}

@media (max-width: 998px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 45%;
    }
}